.header {
  border-bottom: 1px solid var(--background-800);
}

.container {
  display: flex;
  margin-top: var(--spacer-medium);
  gap: var(--spacer-medium);
  width: 90vw;
  max-width: 800px;
  margin: auto;
  padding: var(--spacer-medium);
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
}

.home {
  width: 90vw;
  max-width: 800px;
  margin: auto;
}